
.sidebar-wrapper {
  transition: width 0.3s;
}

.sidebar-header {
  height: 64px;
  display: flex;
  background-color: #eab308;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: rgb(255, 255, 255);
}
.css-16jesut >.ps-menu-button:hover {
  background-color: #3469a1 !important;
}

.rotate {
  transition: transform 0.5s ease-in-out;
  transform: rotate(360deg);
}

::-webkit-scrollbar {
  width: 8px; 
}


::-webkit-scrollbar-track {
  background-color: #8d8d8d; /* Change track color */
}


::-webkit-scrollbar-thumb {
  background-color: #fff; /* Change thumb color */
  border-radius: 8px; /* Adjust border-radius for a rounded thumb */
}

/* Scrollbar Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #dbdbdb; /* Change thumb color on hover */
}