
/* SidebarMenu.css */
.sidebar-wrapper {
  transition: width 0.3s;
}

.sidebar-header {
  height: 60px;
  display: flex;
  background-color: #9cb60ae2;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: rgb(255, 255, 255);
}

.company-name {
  font-size: 16px;
}

.toggle-btn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
}

.hidden {
  display: none;
}

.collapsed .company-name {
  display: none;
}

.collapsed .toggle-btn {
  width: 100%;
  justify-content: flex-start;
  padding-left: 20px;
}
.company-name {
  opacity: 1; 
  transition: opacity 5s ease; 
}

.company-name.hidden {
  opacity: 0; 
}
